LINK='https://biblio.mosreg.ru/books' #САЙТ ДЛЯ ПАРСИНГА - НЕ МЕНЯЕМ СТРАНИЦУ
SCROLL_MAX_BIBLIO_NAME=NUMBER #скрол до параметра с названием библиотеки
NAME_BIBLIO_MENU='НАЗВАНИЕ-БИБЛИОТЕКИ-В-МЕНЮ-ВЫБОРА' #название библиотеки 
MAXSCROLL=NUMBER #количество повторений скролов до конца страницы